/* reset */
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
fieldset,
input,
abbr,
article,
aside,
command,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
meter,
nav,
output,
progress,
section,
summary,
time {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none outside;
}
img {
  border: none;
}
s {
  font-style: normal;
  text-decoration: none;
}
::-moz-selection {
  background: #00b3ff;
  color: #fff;
}

::selection {
  background: #00b3ff;
  color: #fff;
}

body {
  font-size: 12px;
  font-family: 'Microsoft Yahei', arial, 'Hiragino Sans GB', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.div {
  display: block;
}
.ui-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.ui-cell {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* x轴排不下换行 */
.ui-wrap {
  flex-wrap: wrap;
}

/* x轴换行 */
.ui-column {
  flex-direction: column;
}

/* 容器内盒子x轴方向两端对齐,项目之间的间隔都相等。*/

.ui-cell-sb {
  justify-content: space-between;
}

/*容器内盒子x轴方向间隔相等*/

.ui-cell-sa {
  justify-content: space-around;
}

/* 容器内盒子x轴方向居中 */

.ui-cell-cn {
  justify-content: center;
}

/* 容器内盒子x轴方向右对齐 */

.ui-cell-end {
  justify-content: flex-end;
}

/* x轴换行 两端对齐 */

.ui-cell-hh {
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 容器内盒子x轴上下居中,文本向右对齐 */

.ui-cell-ft {
  text-align: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* 容器内盒子x轴上对齐 */
.ui-cell-top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

/*单个项目-上对齐*/
.ui-cell-lt {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

/* 单个项目-底部对齐 */
.ui-cell-bt {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

/* 单个项目布满剩下空间 */
.ui-primary {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*文本截断*/
.ui-nowrap {
  max-width: 100%;
  white-space: nowrap;
}
.ui-nowrap-flex {
  -webkit-line-clamp: 1;
  -webkit-box-flex: 1;
  height: inherit;
}
.ui-nowrap,
.ui-nowrap-flex,
.ui-nowrap-2,
.ui-nowrap-3,
.ui-nowrap-6,
.ui-nowrap-4 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-nowrap-flex,
.ui-nowrap-2,
.ui-nowrap-3,
.ui-nowrap-6,
.ui-nowrap-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.ui-nowrap-2 {
  -webkit-line-clamp: 2;
}

.ui-nowrap-3 {
  -webkit-line-clamp: 3;
}

.ui-nowrap-4 {
  -webkit-line-clamp: 4;
}

.ui-nowrap-6 {
  -webkit-line-clamp: 6;
}

/* 图片宽高100% */
.img_100 {
  display: block;
  width: 100%;
  height: 100%;
}
/*清除浮动*/

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
